<% include ./partials/header %>

<h1>Events</h1>
<p><%= events %></p>

<section>
    <h2>Upcoming Events</h2>
    <ul>
      <li>
        <h3>Event 1</h3>
        <p>Date: <span class="event-date">June 30, 2023</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae consectetur urna. Suspendisse eu tellus turpis. Suspendisse potenti.</p>
      </li>
      <li>
        <h3>Event 2</h3>
        <p>Date: <span class="event-date">July 15, 2023</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae consectetur urna. Suspendisse eu tellus turpis. Suspendisse potenti.</p>
      </li>
      <li>
        <h3 >Event 3</h3>
        <p>Date: <span class="event-date">August 5, 2023</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae consectetur urna. Suspendisse eu tellus turpis. Suspendisse potenti.</p>
      </li>
    </ul>
  </section>

<% include ./partials/footer %>