<% include ./partials/header %>

<h1>Jobs</h1>
<p><%= jobs %></p>



    <ul>
      <li>
        <h3><a href="">Job Title 1</a></h3>
        <p>Location: <span class="job-location">New York, NY</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae consectetur urna. Suspendisse eu tellus turpis. Suspendisse potenti.</p>
      </li>
      <li>
        <h3><a href="">Job Title 2</a></h3>
        <p>Location: <span class="job-location">San Francisco, CA</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae consectetur urna. Suspendisse eu tellus turpis. Suspendisse potenti.</p>
      </li>
      <li>
        <h3><a href="">Job Title 3</a></h3>
        <p>Location: <span class="job-location">Chicago, IL</span></p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae consectetur urna. Suspendisse eu tellus turpis. Suspend</p>
        </li>



<% include ./partials/footer %>